<?php

$S['security'] = [
    'use_authentification' => true,
    'appkey' => 'a_super_random_string',

];

$S['db'] = [
    'host' => 'localhost',
    'port' => 3306,
    'name' => 'quickboilerplate',
    'user' => 'quickboilerplate',
    'password' => 'mypassword',
    'charset' => 'utf8',
];


$S['sys']['debug']['routing'] = false;
$S['sys']['debug']['apirouting'] = false;
$S['sys']['debug']['apidebugout'] = false;
$S['sys']['logfile'] = ""; 
